/node_modules
/public/hot
/public/storage
/public/dist/js/app.js
/public/dist/js/
/public/plugins_assets
/public/plugins_cache
/storage/*.key
/vendor
/app/Plugins
/resources/views/plugins
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
.DS_Store
/docker/database/*
/public/js/vuejs_code_split/*
