{% include 'views/front/includes/header.html.twig' %}



    <!--=====================================-->
    <!--=   Main Banner     Start           =-->
    <!--=====================================-->

        <section id="home-slider" class="main-banner-wrap1 main-banner-wrap5" data-bg-image="/uploads/img/slider4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <form action="/find_property"  class="main-banner-box1 main-banner-box5">
                            <h1 class="item-title wow fadeInUp" data-wow-delay=".4s">Let's find the perfect place</h1>
                            <div class="listing-category-list wow fadeInUp" data-wow-delay=".6s">
                                <div class="search-radio">
                                    <ul class="list-inline">
                                        <li class="apartments">
                                            <label for="apartments" class="active">
                                                <i class="far fa-building active"></i>
                                                <span>Apartments</span>
                                                <input checked="checked" type="radio" name="type" id="apartments" value="apartments">
                                            </label>
                                        </li>
                                        <li class="home">
                                            <label for="home">
                                                <i class="fas fa-home"></i>
                                                <span>Studio</span>
                                                <input checked="" type="radio" name="type" id="home" value="studio">
                                            </label>
                                        </li>
                                        <li class="office">
                                            <label for="office">
                                                <i class="fas fa-briefcase"></i>
                                                <span>Office</span>
                                                <input checked="" type="radio" name="type" id="office" value="office">
                                            </label>
                                        </li>
                                        <li class="duplex">
                                            <label for="duplex">
                                                <i class="fas fa-shopping-basket"></i>
                                                <span>Shop</span>
                                                <input checked="" type="radio" name="type" id="duplex" value="duplex">
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="banner-search-wrap">
                                <div class="rld-main-search">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="box">
                                                <div class="box-top">
                                                    <div class="rld-single-input item">
                                                        <input type="text" name="name" placeholder="Enter Kewword here...">
                                                    </div>
                                                    <div class="rld-single-select ml-22">
                                                        <select class="select single-select" name="request_type">
                                                            <option value="">Property Type</option>
                                                            <option value="sale">For salae</option>
                                                            <option value="rent">For rent</option>
                                                        </select>
                                                    </div>
                                                    <div class="rld-single-select item">
                                                        <select class="select single-select mr-0" name="city">
                                                            <option value="">All Cities</option>
                                                            <option value="albania">Albania</option>
                                                            <option value="cairo">Cairo</option>
                                                        </select>
                                                    </div>
                                                    <div class="item rt-filter-btn">
                                                        <div class="dropdown-filter item">
                                                            <span>
                                                                <i class="fas fa-sliders-h"></i>
                                                            </span>
                                                        </div>
                                                        <div class="filter-button-area">
                                                            <button style="display: flex;" class="filter-btn" type="submit">
                                                                <span>Search</span>
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="explore__form-checkbox-list full-filter">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 py-1 pr-30 pl-0">
                                                            <div class="form-group bed">
                                                                <label class="item-bedrooms">Rooms</label>
                                                                <div class="rld-single-select ml-22">
                                                                    <select class="select single-select" name="rooms">
                                                                        <option value="">Rooms count</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 py-1 pr-30 pl-0 ">
                                                            <div class="form-group bath">
                                                                <label class="item-bath">Bathrooms</label>
                                                                <div class="rld-single-select ml-22">
                                                                    <select class="select single-select" name="bathrooms">
                                                                        <option value="">Bathrooms count</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 py-1 pl-0 pr-0">
                                                            <div class="form-group garage">
                                                                <label class="item-garage">Garage</label>
                                                                <div class="nice-select form-control wide" tabindex="0">
                                                                    <span class="current">Any</span>
                                                                    <ul class="list">
                                                                        <li data-value="1" class="option selected">1
                                                                        </li>
                                                                        <li data-value="2" class="option">2</li>
                                                                        <li data-value="3" class="option">3</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="filter-button" style="padding-top: 20px;">
                                                            <button type="submit" class="filter-btn1">Apply Filter</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="item-para wow fadeInUp" data-wow-delay=".4s">We’ve more than <span
                                        class="banner-p">54,000</span> apartments, place & plot.
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        {% if app.Settings.show_home_block_1 %}

        {{ app.Settings.home_block_1 | raw }}
        
        {% endif %}



        {% if app.Settings.show_home_block_2 %}
        {{ app.Settings.home_block_2 | raw }}
        {% endif %}

        {% if app.Settings.show_home_block_3 %}
        {% include 'views/front/home_blocks/rent_items.html.twig' %}
        {% endif %}

        {% if app.Settings.show_home_block_4 %}
        {% include 'views/front/home_blocks/sale_items.html.twig' %}
        {% endif %}

        {% if app.Settings.show_home_block_5 %}
        {{ app.Settings.home_block_5 | raw }}
        {% endif %}

{% include 'views/front/includes/footer.html.twig' %}