{% include 'views/front/includes/header.html.twig' %}
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-5 lg:grid-cols-3 lg:gap-6 xl:grid-cols-4">

	{% for app.auth.fb_pages in page %}

    <div class="card">
        <div class="flex flex-col items-center p-4 text-center sm:p-5">
            <div class="avatar h-20 w-20">
                <img class="rounded-full" src="images/avatar/avatar-20.jpg" alt="avatar">
            </div>
            <h3 class="pt-3 text-lg font-medium text-slate-700 dark:text-navy-100">
                {{page.page_name}}
            </h3>
            <p class="text-xs+">{{page.username}}</p>
            <div class="my-3.5 flex flex-wrap space-x-2">
                <div class="avatar h-8 w-8">
                    <img class="rounded-full" src="images/avatar/avatar-16.jpg" alt="avatar">
                </div>
                <div class="avatar h-8 w-8">
                    <div class="is-initial rounded-full bg-info text-xs+ uppercase text-white">
                        jd
                    </div>
                </div>
                <div class="avatar h-8 w-8">
                    <img class="rounded-full" src="images/avatar/avatar-19.jpg" alt="avatar">
                </div>
            </div>
        </div>
        <div class="flex divide-x divide-slate-150 border-t border-slate-150 dark:divide-navy-500 dark:border-navy-500">
            <button class="btn h-11 w-full rounded-none rounded-bl-lg font-medium text-slate-700 hover:bg-slate-300/20 active:bg-slate-300/25 dark:text-navy-100 dark:hover:bg-navy-300/20 dark:active:bg-navy-300/25">
                Profile
            </button>
            <button class="btn h-11 w-full rounded-none rounded-br-lg font-medium text-primary hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:text-accent-light dark:hover:bg-accent-light/20 dark:focus:bg-accent-light/20 dark:active:bg-accent-light/25">
                Chat
            </button>
        </div>
    </div>
	{% endfor %}
    <div class="card">
        <div class="flex flex-col items-center p-4 text-center sm:p-5">
            <div class="avatar h-20 w-20">
                <img class="rounded-full" src="images/avatar/avatar-6.jpg" alt="avatar">
            </div>
            <h3 class="pt-3 text-lg font-medium text-slate-700 dark:text-navy-100">
                Joe Perkins
            </h3>
            <p class="text-xs+">React Designer</p>
            <div class="my-3.5 flex flex-wrap space-x-2">
                <div class="avatar h-8 w-8">
                    <img class="rounded-full" src="images/avatar/avatar-19.jpg" alt="avatar">
                </div>
                <div class="avatar h-8 w-8">
                    <div class="is-initial rounded-full bg-warning text-xs+ uppercase text-white">
                        ds
                    </div>
                </div>
                <div class="avatar h-8 w-8">
                    <div class="is-initial rounded-full bg-primary/10 text-xs+ uppercase text-primary dark:bg-accent-light/10 dark:text-accent-light">
                        mf
                    </div>
                </div>
            </div>
        </div>
        <div class="flex divide-x divide-slate-150 border-t border-slate-150 dark:divide-navy-500 dark:border-navy-500">
            <button class="btn h-11 w-full rounded-none rounded-bl-lg font-medium text-slate-700 hover:bg-slate-300/20 active:bg-slate-300/25 dark:text-navy-100 dark:hover:bg-navy-300/20 dark:active:bg-navy-300/25">
                Profile
            </button>
            <button class="btn h-11 w-full rounded-none rounded-br-lg font-medium text-primary hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:text-accent-light dark:hover:bg-accent-light/20 dark:focus:bg-accent-light/20 dark:active:bg-accent-light/25">
                Chat
            </button>
        </div>
    </div>
</div>
{% include 'views/front/includes/footer.html.twig' %}